<!DOCTYPE html>
<html lang="en">

<head>
    <!-- General Head -->
    <%- include('../../partials/head'); %>
        <!-- Internal icon -->
        <link rel="icon" type="image/x-icon" href="../../images/home/icon.ico">
</head>

<body>
    <main class="container">
        <div class="mb-2">
            <h1 class="h2">Edit Profile</h1>
            <form class="row g-3" action="/admin/edit/<%= user.id %>" method="post">
                <div class="col-md-4">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username"
                        value="<%= user.username %>">
                </div>
                <div class=" col-md-4">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstName"
                        value="<%= user.biodata.firstName %>">
                </div>
                <div class=" col-md-4">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name" name="lastName"
                        value="<%= user.biodata.lastName %>">
                </div>
                <div class="col-md-6">
                    <label for="addres" class="form-label">Address</label>
                    <input type="text" class="form-control" id="addres" placeholder="Address" name="address"
                        value="<%= user.biodata.address %>">
                </div>
                <div class="col-md-6">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number"
                        name="phoneNumber" value="<%= user.biodata.phoneNumber %>">
                </div>
                <div class="col-12">
                    <label for="bio" class="form-label">Bio</label>
                    <input type="text" class="form-control" id="bio" placeholder="Biodata" name="bio"
                        value="<%= user.biodata.bio %>">
                </div>
                <div class="col-12">
                    <input class="form-check-input" type="checkbox" id="adminTrue" name="isAdmin" <% if (
                        user.isAdmin===true) { %>
                    checked
                    <% } %>>
                        <input class="form-check-input" type="hidden" value="false" id="adminFalse" name="isAdmin">
                        <label class="form-check-label" for="flexCheckDefault">
                            Admin
                        </label>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" onclick="checked()">Edit Profile</button>
                </div>
            </form>
        </div>
    </main>
    <!-- General Javascript -->
    <%- include('../../partials/script') %>
        <!-- Internal Javascript -->
        <script type="text/javascript" src="../javascripts/admin.js"></script>
</body>

</html>